.error-template {padding: 40px 15px;text-align: center;}
textarea { resize: none; }
.form-control {
  width: 40%!important;
  margin: 0 auto;
}
.center {
  margin-left: 50px;
}

.App {
  text-align: center;
  background: #9cb8b3;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
.menu a {
  margin-left: 5px;
  margin-right: 5px;
}
img {
  width: 200px;
}
.navbar-brand {
  margin-left: 5px!important;
}

.right {
  margin-left: 70%;
}

.allGadgets {
  margin: 10px auto;
  width: 60%;
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.homeGadgets {
  width: 60%;
  background: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
.homeGadgets > div a {
  display: inline-block;
  margin-left: 5px;
}
.list-comments a {
  display: inline-block;
  margin-left: 5px;
  width: 10%!important;
  vertical-align: bottom;
}

.homeGadgets img {
  width: 350px;
  height: 400px;
}

.homeLink {
  margin: 0 5px;
}

.paging {
  margin-bottom: 20px;
}

.details {
  margin: 0 auto;
  width: 60%;
  background: white;
  border-radius: 10px;
  padding: 10px;
}
.title {
  height: 400px;
}
.flex {
  display: flex;
}

table.table-bordered.admin {
  background: white!important;
  border-radius: 10px;
}